{{ define "contact" }}

  <div class="name">
    <lable class="attr">Name</lable>
    <label class="attr_val">{{.Name}}</label>
  </div>

  <div class="address">
    <lable class="attr">Address:</lable>
    <label class="attr_val">{{.Address}}</label>
  </div>

  <div class="tel">
    <lable class="attr">Telephone: </lable>
    <label class="attr_val">{{.Tel}}</label>
  </div>

  <div class="location">
    <lable class="attr">Location:</lable>
    <label class="attr_val">{{.Location}}</label>
  </div>

{{ end }}
