* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

a, a:visited,a:hover,a:focus {
  text-decoration: none;
  color: #000;
}

html {
  width: 100%;
  min-height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.container {
  width: 100%;
  min-height: 100%;
  padding: 1.6em;
  background: #ccc;
  margin: 0 auto;
}

.container:before,.container:after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

.intro {
  padding: 1.3em;
  /*background: #22bacc;*/
}

.intro {
  text-align: center;
}

.intro h2 {
  /*color: #22bacc;*/
  color: rgba(0,0,0,0.6);
  color: rgba(242, 51, 51, 0.6);
  font-weight: lighter;
  font-family: sans-serif;
  /*text-decoration: underline;*/
}

.wordsmith {
  width: 100%;
  /*height: 100px;*/
  background: #ccc;
}

.wordsmith a {
  display: block;
  text-align: center;
  padding: 2em;
  font-size: 2em;
  color: #969696;
}

.wordsmith a:hover{
  color: #222;
}

.speak {
  width: 100%;
  height: 100px;
  background: #eee;
}

.speak::before,.speak::after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

.speak label {
  float: left;
  text-align: left;
  font-size: 2em;
  font-weight: bold;
  padding: 1em;
}

.speak p {
  float: left;
  padding: 1em;
  text-align: center;
  color: #000;
  font-size: 1.3em;
  width: 70%;
  height: 100%;
}

.historyloc{
  width: 100%;
  height: 70px;
  margin-bottom: 10px;
  padding: 1.3em;
  background: #222;
}

.historyloc::before,.historyloc::after {
  content: "";
  display: block;
  clear: both;
  zoom: 1;
}

.historyloc label {
  float: left;
  text-align: left;
  color: #fff;
  font-size: 1.6em;
  font-weight: bold;
}

.historyloc p {
  float: left;
  text-align: center;
  color: #fff;
  font-size: 1em;
  text-overflow: ellipsis;
  word-wrap: break-word;
  width: 70%;
  height: 100%;
}
